# Binarios
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Carpeta de salida (los JSONs son temporales)
output/
*.json

# Go
vendor/
*.mod~
*.sum~

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
